<!--(c) Code-X-Mania-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
    <!-- <link rel="stylesheet" href="style.css"> -->

</head>


    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/jwplayer/web-player-demos/demos/custom-css-demo/assets/alaska.css'>
<script src="//jwpsrv.com/library/O4mPlqeTEeK_viIACpYGxA.js"></script>
<div id="my-video1">
</div>
<script>// <![CDATA[

jwplayer('my-video1').setup({         file:'%s',image : '',        width: '100%',type:'video/mp4',        height: '650px',         autostart: 'true',            primary: 'php', hlshtml:"true"   });

// ]]></script>
</body>
</html>
